:root {
  --a5-main-text-color: #303030;
  --bg-pink: #fdecec;
  --bg-yellow: #fef2d7;
  --bg-blue: #e2f4f9;
  --a5-link-color: #00e;
  --white: #fff;
  --border-color: #c5c7d2;
  --black: #000;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: var(--a5-main-text-color);
  background-color: #fff;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

p {
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

a {
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  line-height: 2.5;
  list-style-type: none;
}

.a5-container {
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 73.125rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: .4375rem;
  display: flex;
  position: relative;
}

.a5-first-contaier {
  width: 70%;
  padding: .625rem;
}

.a5-second-container {
  border: 1px solid #c5c7d2;
  max-width: 20.6875rem;
  margin: .625rem;
  padding: .625rem;
  position: sticky;
  top: 20px;
}

.a5-subheader {
  background-color: var(--bg-pink);
  justify-content: center;
  align-items: center;
  display: flex;
}

.a5-subheader-title {
  margin-bottom: .3125rem;
  padding: .625rem;
  font-size: 1.0625rem;
  line-height: 1.3;
}

.a5-highleted-yellow-wrap {
  background-color: var(--bg-yellow);
  padding: .625rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.a5-h1-wrap {
  padding: .625rem;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.5;
}

.a5-margin-top-5px {
  margin-top: .3125rem;
}

.a5-img-wrap {
  margin-top: .5625rem;
}

.a4-img-tag {
  width: 100%;
}

.a4-img-tag.mob {
  display: none;
}

.a5-tiny-text-wrapper {
  padding: .625rem;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.3;
}

.a5-rich-text-wrapper {
  margin-top: .625rem;
  padding: .625rem;
  line-height: 1.5;
}

.a5-rich-text-wrapper.is-list.two-columns {
  display: flex;
}

.a5-rich-text-wrapper.is-pink-list {
  background-color: var(--bg-pink);
}

.a5-rich-text-wrapper.is-list {
  background-color: #e2f4f9;
}

.a5-rich-text-wrapper.is-list.weekly {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.a5-regular-rich-text ul {
  margin-bottom: 0;
  padding-left: 0;
}

.a5-regular-rich-text h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.375rem;
  line-height: 1.4;
}

.a5-regular-rich-text li {
  font-size: 1.125rem;
  line-height: 2;
}

.a5-regular-rich-text.two-columns {
  width: 50%;
}

.a5-regular-rich-text li {
  font-size: 1.125rem;
}

.a5-regular-rich-text.weekly {
  border-bottom: 10px solid #fff;
  margin-bottom: 20px;
  padding: 16px 16px 30px;
}

.a5-regular-rich-text.weekly.last {
  border-bottom-style: none;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.a5-rich-text-list-modified ul {
  margin-bottom: 0;
  padding-left: 0;
}

.a5-rich-text-list-modified h2 {
  font-size: 1.375rem;
  line-height: 1.4;
}

.a5-rich-text-list-modified li {
  font-size: 1.125rem;
  line-height: 2;
}

.a5-margin-top-10px {
  margin-top: .625rem;
}

.a5-highleted-yellow-small-wrap {
  background-color: var(--bg-yellow);
  padding: .625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.highlighted-subtitle {
  text-align: center;
  background-color: #ffbf00;
}

.a5-flex-center {
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  font-weight: 700;
  display: flex;
}

.a5-small-rich-text ul {
  margin-bottom: 0;
  padding-left: 0;
}

.a5-small-rich-text h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.375rem;
  line-height: 1.4;
}

.a5-small-rich-text a {
  color: var(--a5-link-color);
  text-decoration: none;
}

.a5-small-rich-text li {
  font-size: 1.125rem;
}

.a5-small-rich-text p {
  font-size: 1.25rem;
}

.a5-btn-block {
  color: var(--white);
  text-align: center;
  background-color: #5dc238;
  border-radius: .25rem;
  width: 100%;
  margin-top: 1.25rem;
  padding: .9375rem 1.875rem;
  text-decoration: none;
  box-shadow: 2px 0 3px #ccd5e7;
}

.a5-link-subtitle {
  color: #f6f9fe;
  margin-top: .625rem;
}

.a5-link-title {
  font-size: 1.125rem;
}

.a5-blue-section {
  background-color: #69a1ed;
  justify-content: center;
  align-items: center;
  margin-top: 1.875rem;
  display: flex;
}

.a5-blue-title {
  color: #fff;
  margin: .625rem;
  padding: .3125rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.4;
}

.a5-social-wrapper {
  width: 100%;
  margin-top: 1.875rem;
  padding: 1.25rem .625rem 1.875rem;
}

.a5-comment-title {
  color: #4b4f56;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

.a5-comment--wrapper {
  padding: .625rem;
  line-height: 1.5;
}

.a5-comment--wrapper.is-list {
  background-color: var(--bg-blue);
}

.a5-comment--wrapper.is-pink-list {
  background-color: var(--bg-pink);
}

.a5-input-wrapper {
  margin: .625rem;
  line-height: 1.5;
}

.a5-input-wrapper.is-list {
  background-color: var(--bg-blue);
}

.a5-input-wrapper.is-pink-list {
  background-color: var(--bg-pink);
}

.text-field {
  color: #c5c7d2;
  border: 1px solid #c5c7d2;
  justify-content: flex-start;
  align-items: center;
  min-height: 3rem;
  padding-left: 12px;
  display: flex;
}

.a5-comments-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  margin-top: .625rem;
  display: grid;
}

.a5-user-cover {
  min-width: 3.125rem;
  max-width: 3.125rem;
  min-height: 3.125rem;
  max-height: .195313rem;
  margin: .3125rem;
}

.a5-user-comment {
  padding: .3125rem .625rem .625rem;
}

.a5-user-name {
  color: #365899;
  font-family: Roboto, sans-serif;
  font-size: .875rem;
  font-weight: 700;
}

.a5-user-comment-title {
  font-family: Roboto, sans-serif;
}

.comment-likes {
  justify-content: flex-start;
  align-items: center;
  padding-bottom: .625rem;
  padding-left: .625rem;
  padding-right: .625rem;
  display: flex;
}

.like-text {
  color: #7f7f82;
  font-size: .875rem;
}

.a5-sub-comments-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-3-copy {
  justify-content: flex-start;
  align-items: center;
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-right: .625rem;
  display: flex;
}

.a5-user-cov-small {
  min-width: 2.5rem;
  max-width: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  margin: .3125rem;
}

.image {
  max-width: 9.375rem;
}

.a4-separator {
  background-color: #eee;
  width: 100%;
  height: 1px;
}

.a5-footer {
  text-align: center;
  background-color: #464646;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.paragraph {
  color: #acacac;
  text-transform: uppercase;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  font-size: .75rem;
}

.a5-footer-title {
  color: #acacac;
  text-transform: uppercase;
  max-width: 71.875rem;
  margin-left: auto;
  margin-right: auto;
  font-size: .75rem;
}

.div-block {
  margin-top: .625rem;
  padding: .625rem;
}

.a5-sidebar-title {
  color: #2f2f2f;
  text-align: center;
  font-size: 1.5rem;
}

.stars {
  color: #ffe300;
  text-align: center;
  font-size: 1.25rem;
}

.text-block-3 {
  color: #000;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 2px;
}

.text-block-4 {
  text-align: center;
}

.div-block-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  max-width: 16.1rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3;
  display: grid;
}

.side-bar-top-wrapper {
  margin-top: .625rem;
  padding: .625rem;
  line-height: 1.5;
}

.text-block-5 {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
}

.image-2 {
  max-width: 1.25rem;
}

.div-block-3 {
  padding: .625rem .625rem 9px;
  font-size: .75rem;
  font-weight: 400;
}

.div-block-4 {
  border: 1px solid #c5c7d2;
  border-bottom-style: none;
  margin-top: 22px;
  padding: .3125rem;
}

.div-block-4.no-border {
  border-style: none;
  margin-top: 10px;
}

.image-3 {
  width: 100%;
  max-width: 18.5625rem;
  margin: 0;
}

.button {
  color: #f6f9fe;
  text-align: center;
  letter-spacing: .3px;
  background-color: #5dc238;
  border-radius: .3125rem;
  max-width: 45rem;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding: .9375rem 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  display: block;
  box-shadow: 1px -1px 2px 1px #0003;
}

.image-4 {
  max-width: 10.9375rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.div-block-5 {
  margin-top: .625rem;
  margin-bottom: -16px;
}

.slider {
  background-color: #ddd0;
  max-width: 41.375rem;
  height: auto;
  min-height: 20.625rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 3px #0000001a;
}

.div-block-6 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #e6e6e6;
  flex: 1;
  grid-template-rows: auto minmax(auto, 1.5625rem) auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  display: grid;
}

.div-block-7 {
  justify-content: space-between;
  margin-bottom: .5rem;
  display: flex;
}

.div-block-8 {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-5 {
  background-color: #f2f2f2;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  max-width: 2.5rem;
  height: 2.5rem;
  display: flex;
}

.left-arrow {
  background-color: #0000000d;
  border: 1px solid #ddd;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  margin-left: .625rem;
  display: flex;
}

.text-block-6 {
  color: #666;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
}

.green-stars {
  color: #01b67b;
  text-align: left;
  font-size: 1.25rem;
}

.text-block-7 {
  font-size: 1.17em;
  font-weight: 700;
}

.text-block-8 {
  color: #777;
}

.div-block-9 {
  margin-bottom: .3125rem;
}

.text-block-9 {
  margin-top: .3125rem;
  margin-bottom: .3125rem;
  font-size: 1rem;
  font-weight: 700;
}

.paragraph-2 {
  color: #333;
  margin-bottom: .5rem;
  font-size: .875rem;
  line-height: 1.4;
}

.div-block-10 {
  margin-top: auto;
  padding: 0;
}

.slide-nav {
  z-index: -1;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 20px;
  padding-top: 0;
  font-size: 8px;
  display: none;
}

.text-block-10 {
  color: #777;
  margin-bottom: .3125rem;
  font-size: .8125rem;
}

.div-block-11 {
  grid-column-gap: .9375rem;
  grid-row-gap: .9375rem;
  display: flex;
}

.text-block-11 {
  color: #559;
}

.text-block-12 {
  font-size: .8125rem;
}

.text-block-13 {
  color: #555;
  font-size: 1.125rem;
}

.right-arrow {
  background-color: #0000000d;
  border: 1px solid #ddd;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  margin-left: .625rem;
  display: flex;
}

.a5-table {
  margin-top: .625rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
}

.a5-table-content {
  min-width: 37.5px;
}

.code-embed {
  justify-content: center;
  align-items: center;
  display: flex;
}

.italic-text {
  font-size: .9375rem;
}

.div-block-12 {
  margin-top: 3px;
  margin-bottom: 13px;
}

.italic-text-2 {
  font-size: 16px;
}

.text-block-14 {
  line-height: 1.3;
}

.text-block-14-copy {
  margin-top: -1px;
  line-height: 1.3;
}

.text-block-15 {
  font-weight: 400;
}

.a5-regular-rich-text-medium ul {
  margin-bottom: 0;
  padding-left: 0;
}

.a5-regular-rich-text-medium h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.375rem;
  line-height: 1.4;
}

.a5-regular-rich-text-medium a {
  color: var(--a5-link-color);
  text-decoration: none;
}

.a5-regular-rich-text-medium li {
  font-size: 1.125rem;
}

.a5-user-comment-copy {
  padding: .3125rem .625rem .625rem;
}

.a5-comments-wrapper-copy {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  margin-top: .625rem;
  display: grid;
}

.slider-2 {
  height: 55rem;
}

.slide-nav-2 {
  justify-content: center;
  align-items: stretch;
  min-height: 80px;
  font-size: 60px;
  display: flex;
}

.slider-3 {
  height: 500px;
}

.slider-3.no-perspective {
  height: 800px;
  margin-bottom: 99px;
  transform: none;
}

.image-6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: static;
}

.slider-thumb-wrap {
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  display: inline-block;
  position: relative;
}

.slider-arrow {
  color: #777;
}

.slider-arrow.left {
  color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 54px;
  font-size: 18px;
  display: flex;
}

.slider-arrow.left:hover {
  background-color: #000c;
}

.slider-arrow.right {
  color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 54px;
  font-size: 18px;
  display: flex;
}

.slider-arrow.right:hover {
  background-color: #000c;
}

.slider-navigation {
  z-index: 4;
  background-color: #ffffff45;
  border: 1px dashed #32ff47;
  height: 100px;
  margin: 0;
  padding-top: 0;
  position: absolute;
  inset: auto 0% -25%;
}

.slider-navigation.default-no-perspective {
  z-index: 5;
  opacity: .07;
  background-color: #fff0;
  border: 1px #000;
  height: 80px;
  font-size: 49px;
  bottom: -11%;
}

.slider-navigation.no-perspective {
  border-style: none;
  height: 80px;
  bottom: -11%;
}

.slider-thumb-image {
  object-fit: cover;
  border: 1px solid #708090;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.div-block-13, .div-block-14 {
  height: 100%;
}

.div-block-15 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.fs-sliderdots-dot {
  background-color: #ccc;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.fs-sliderdots-dot.is-sliderdots-active {
  background-color: #00b67a;
}

.a5-slider-nav {
  z-index: 5;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: relative;
  top: -30px;
}

.sticky-banner {
  z-index: 10;
  opacity: 0;
  background-color: #5dc238;
  justify-content: center;
  align-items: center;
  min-height: 6.25rem;
  max-height: 6.25rem;
  padding: 1.25rem;
  display: flex;
  position: sticky;
  top: auto;
  bottom: 0;
  transform: translate(0, 100%);
}

.div-block-17 {
  position: relative;
}

.a5-sticky-buttons {
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  display: flex;
}

.sticky-banner-title {
  color: #fff;
  min-height: 39.19px;
  max-height: 39.19px;
  margin-bottom: -4px;
  margin-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.sticky-banner-btn {
  color: #5dc238;
  letter-spacing: .32px;
  background-color: #fff;
  border-radius: .25rem;
  margin-bottom: -1px;
  margin-left: -1px;
  padding: 10px 30px;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  box-shadow: 0 1px 4px 1px #252a3252;
}

.div-block-18 {
  padding-left: 2.5rem;
}

.a4-img-tag-trigger {
  width: 100%;
}

.a4-img-tag-trigger.mob {
  display: none;
}

.div-block-19 {
  position: sticky;
  top: 20px;
}

.slide {
  flex-flow: column;
  flex: 1;
  min-height: 26.375rem;
  display: flex;
}

.div-block-20.slide {
  flex-flow: column;
  display: flex;
}

.a5-regular-rich-text-citations {
  font-size: 11px;
}

.a5-regular-rich-text-citations ul {
  margin-bottom: 0;
  padding-left: 0;
}

.a5-regular-rich-text-citations h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.375rem;
  line-height: 1.4;
}

.a5-regular-rich-text-citations a {
  color: var(--a5-link-color);
  text-decoration: none;
}

.a5-regular-rich-text-citations li {
  font-size: 1.125rem;
}

.a5-regular-rich-text-citations p {
  font-size: .6875rem;
}

.div-block-21 {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.comment-image-wrap {
  padding: .625rem;
}

.a5-highleted-yellow-small-wrap-2 {
  background-color: #fef2d7;
  padding: .625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.a5-highleted-yellow-small-wrap-2.gray {
  background-color: #ebebeb;
  border: 1px solid silver;
}

.a5-highleted-yellow-small-wrap-2.gray.warning-wrap {
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  display: flex;
}

.text-block-16 {
  font-weight: 600;
}

._120x120-logos {
  width: 120px;
  height: 120px;
}

._120x120-logos.mg-riht-16 {
  margin-right: 16px;
}

._120x120-logos.mg-riht-16.rounded {
  border-radius: 100px;
}

._120x120-logos.mg-riht-16.rounded.hide {
  display: none;
}

.feedback-list {
  margin-top: .625rem;
}

.row {
  width: 100%;
}

.row.middle {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.row.middle.margine-bottom {
  margin-bottom: .625rem;
}

.comment-review-image {
  height: 20px;
  margin-top: -2px;
}

.feedback-holder {
  background-color: #d5e0cf;
  border: 1px solid #0003;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}

.feedback-holder.list-item {
  border-color: #c5c7d2 #c5c7d2 var(--border-color);
  background-color: #fff;
  border-radius: 0;
  padding: 12px;
}

.feedback-holder.cream {
  background-color: #fcf7ee;
  border-radius: 10px;
}

.reviewer-name-holder {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1em;
}

.weeks-results {
  border: 1px none var(--border-color);
  margin-top: 10px;
}

.paragraph-5 {
  margin-top: 12px;
  padding-left: 18px;
  padding-right: 18px;
  line-height: 26px;
}

.div-block-52 {
  text-align: center;
  letter-spacing: .5px;
  background-color: #fef2d7;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  display: flex;
}

.div-block-53 {
  color: #fff;
  background-color: #7fc56d;
  border-radius: 30px;
  margin-bottom: 35px;
  padding: 8px 26px 10px;
}

.h-18 {
  letter-spacing: .5px;
  font-size: 18px;
  line-height: 18px;
}

.how-it-works-image-link {
  flex: 0 auto;
}

.heading-4 {
  color: #000;
  letter-spacing: .5px;
  margin-top: 17px;
  font-size: 20px;
  line-height: 22px;
}

.div-block-51 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  display: grid;
}

.video-container-copy {
  border: 1px solid #7fc56d;
  border-radius: 24px;
  height: 98%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.how-it-works-image {
  width: 100%;
}

.step-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sg-box {
  background-color: #fef2d7;
  border: 1px #8b9882;
  justify-content: flex-start;
  align-items: center;
  max-width: 818px;
  margin: 10px auto;
  padding: 20px;
  display: flex;
}

.satisfaction-symbol {
  width: 100%;
  max-width: 168px;
}

.satis-text {
  text-align: left;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 24px;
  display: flex;
}

.green-title {
  margin-top: 0;
  font-size: 20px;
  line-height: 29px;
}

.full-width {
  width: 100%;
}

.red {
  color: red;
}

.small-text {
  font-size: 10px;
}

.highlited-yellow {
  color: #fff;
  background-color: #dda90e;
  padding-left: 5px;
  padding-right: 5px;
}

.highlited {
  pointer-events: none;
  color: #a57c7c;
  background-color: #fff53e;
  text-decoration: none;
}

.highlited.yellow {
  color: var(--a5-main-text-color);
}

.last-note {
  margin-top: 60px;
}

.last-note.hide {
  display: none;
}

.open-icon {
  border: 2px solid #3f472700;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;
  display: flex;
  position: relative;
}

.h-18-faq {
  color: #3f4727;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

.container {
  width: 100%;
  max-width: 1264px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.answer-f66 {
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.question-wrapper-f66 {
  background-color: #fff;
  border: 1px solid #d5e0cf;
  border-radius: 4px;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  text-decoration: none;
}

.faq-body {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  max-width: 720px;
  margin-top: 20px;
  display: flex;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.section.big-space {
  background-color: #f1f1f1;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section.big-space.hide {
  display: none;
}

.title-wrapper.max-width {
  max-width: 750px;
}

.title-wrapper.max-width.text-centered {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.open-line {
  background-color: #3f4727;
  width: 10px;
  height: 2px;
}

.open-line.vertical {
  width: 2px;
  height: 11px;
  position: absolute;
  top: 6px;
  left: 10px;
}

.heading {
  width: 100%;
}

.heading.is-big {
  font-size: 32px;
}

.faq-open-item {
  border-top: 0 silver;
  padding: 16px 0 0;
}

.list-2 {
  margin-bottom: 0;
  padding-left: 0;
}

.question-f66 {
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.question-f66:hover, .question-f66:active {
  background-color: #fff;
}

.list-item-3 {
  color: #3f4727;
  list-style-type: none;
}

.div-block-54 {
  padding-bottom: 16px;
}

.icon-wrapper-f66 {
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  display: flex;
  position: relative;
}

.section-holder.centered {
  justify-content: flex-start;
  align-items: center;
}

.faq-descripton {
  color: var(--a5-main-text-color);
}

.icon.accordion-icon {
  color: #0009;
  cursor: pointer;
  font-size: 32px;
  line-height: 30px;
}

.icon.accordion-icon.red {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-bottom: 0;
  display: flex;
}

.arrow-icon {
  width: 20px;
}

.recources-holder {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  padding-bottom: 20px;
  overflow: hidden;
}

.accordion-item-content {
  margin-top: 10px;
  margin-right: 30px;
  overflow: hidden;
}

.accordion-item-trigger {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text-block-17 {
  color: #656565;
  margin-bottom: 0;
}

.small-text-2 {
  white-space: nowrap;
  word-break: normal;
  font-size: 14px;
  line-height: 1.4em;
}

.accordion-item {
  border-bottom: 1px solid #0003;
  margin-bottom: 0;
  padding: 0;
}

.link-normal-color {
  color: var(--a5-main-text-color);
  text-decoration: none;
}

.text-block-18 {
  font-weight: 700;
}

.text-block-19 {
  font-style: italic;
}

.text-block-20 {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

.image-7 {
  max-width: 80%;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.date {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 21px;
}

.favt-block {
  background-color: #f0f0f0;
  margin-bottom: 12px;
  padding: 12px;
}

.product-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  border: 3px dashed red;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.25rem;
  padding: 48px 20px 30px;
  font-size: 1.125rem;
  line-height: 1.5em;
}

.update-text {
  font-size: 1.375rem;
  line-height: 1.4em;
}

.countdown-hrs {
  font-size: 16px;
  font-weight: 800;
  line-height: 120%;
}

._16px-900 {
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
}

._16px-900.bold.white {
  color: #fff;
}

.div-countdown-holder-main {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  display: flex;
}

.div-white-back {
  border-radius: 4px;
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 10px;
  font-weight: 400;
  line-height: 110%;
  display: flex;
}

.countdown-min, .countdown-sec {
  font-size: 16px;
  font-weight: 800;
  line-height: 120%;
}

.hflex-gap-16px {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--a5-main-text-color);
  color: #fff;
  border-radius: 8px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  display: flex;
}

.product-box-description {
  text-align: center;
}

.cta-small {
  font-weight: 400;
}

.image-8 {
  max-width: 9.375rem;
}

.month-date, .final-bunch-date {
  font-weight: 700;
}

.highlited-red {
  color: red;
}

.div-block-51-copy {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  display: grid;
}

.text-span {
  color: red;
}

.text-block-21 {
  font-size: 1.125rem;
}

.faq-descripton-2 {
  color: #303030;
}

@media screen and (max-width: 991px) {
  .div-block-51 {
    align-items: start;
  }

  .question-wrapper-f66 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
  }

  .question-f66 {
    padding-right: 10px;
  }

  .question-f66:hover {
    text-decoration: none;
  }

  .div-block-51-copy {
    align-items: start;
  }
}

@media screen and (max-width: 767px) {
  .a5-container {
    flex-flow: column;
  }

  .a5-first-contaier {
    width: 100%;
  }

  .a5-second-container {
    width: 100%;
    max-width: none;
  }

  .a5-blue-title {
    text-align: center;
  }

  .image-3 {
    max-width: none;
  }

  .body-2 {
    margin: 0;
  }

  .a5-sticky-buttons {
    margin-left: 0;
  }

  .sticky-banner-title {
    display: none;
  }

  .div-block-18 {
    padding-left: 0;
  }

  .div-block-51 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .sg-box {
    text-align: center;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 420px;
    padding: 20px;
    display: flex;
  }

  .satisfaction-symbol {
    max-width: 120px;
    margin-bottom: 24px;
  }

  .satis-text {
    text-align: center;
    margin-left: 0;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section, .section.big-space {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .list-item-3 {
    text-align: left;
    font-size: 16px;
    line-height: 150%;
  }

  .section-holder.centered {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .accordion-item-content {
    margin-right: 0;
  }

  .div-block-51-copy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  body {
    margin: 0;
  }

  .a5-container {
    flex-flow: column;
    align-items: stretch;
    overflow: hidden;
  }

  .a5-second-container {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    position: static;
  }

  .a5-subheader-title {
    text-align: center;
    font-weight: 500;
  }

  .a5-highleted-yellow-wrap {
    font-weight: 500;
  }

  .text-block {
    font-size: 1.0625rem;
  }

  .a5-h1-wrap {
    font-size: 1.5rem;
  }

  .a4-img-tag.mob {
    display: block;
  }

  .a5-regular-rich-text p {
    font-size: 1.125rem;
  }

  .text-field {
    font-family: Open Sans, sans-serif;
  }

  .a5-comments-wrapper {
    margin-top: 0;
  }

  .a5-user-cover {
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    margin-left: 0;
  }

  .comment-likes {
    flex-flow: wrap;
    line-height: 1.5;
  }

  .like-text {
    line-height: 1.5;
  }

  .div-block-3-copy {
    flex-flow: wrap;
  }

  .div-block-2 {
    max-width: 19.3rem;
  }

  .image-3 {
    max-width: none;
  }

  .slider {
    box-shadow: none;
    min-height: 0;
  }

  .div-block-6 {
    flex: 1;
  }

  .table-thread {
    overflow: auto;
  }

  .div-block-12 {
    margin-bottom: 12px;
  }

  .italic-text-2 {
    font-size: 1.0625rem;
  }

  .bold-text {
    margin-left: -4px;
  }

  .a5-regular-rich-text-medium p {
    font-size: 1.1875rem;
  }

  .a5-user-comment-copy {
    padding-bottom: .3rem;
  }

  .slider-3.no-perspective {
    height: 410px;
  }

  .image-6 {
    overflow: visible;
  }

  .slider-thumb-wrap {
    width: 40px;
    height: 40px;
  }

  .slider-navigation.default-no-perspective {
    height: 40px;
    font-size: 27px;
  }

  .slider-navigation.no-perspective {
    height: 40px;
  }

  .a5-sticky-buttons {
    text-align: center;
  }

  .a4-img-tag-trigger.mob {
    display: block;
  }

  .div-block-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .slide {
    height: 617.2px;
  }

  .div-block-20.slide {
    justify-content: flex-start;
  }

  .a5-regular-rich-text-citations a {
    word-break: break-all;
    font-size: .6875rem;
    line-height: 1.2;
  }

  .a5-regular-rich-text-citations p {
    margin-bottom: .5rem;
    font-size: .6875rem;
    line-height: 1.2;
  }

  .text-block-16 {
    font-size: 1.0625rem;
  }

  ._120x120-logos.mg-riht-16 {
    margin-bottom: 16px;
    margin-right: 0;
  }

  ._120x120-logos.mg-riht-16.satisfaction0symbole {
    width: 180px;
    height: 180px;
  }

  .feedback-holder {
    flex-flow: column;
  }

  .reviewer-name-holder {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .paragraph-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .how-it-works-image-link {
    margin-bottom: 20px;
  }

  .div-block-51 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 30px;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .image-7 {
    max-width: 100%;
  }

  ._16px-900 {
    text-align: center;
    font-size: 14px;
  }

  .div-countdown-holder-main {
    margin-right: 20px;
  }

  .div-block-51-copy {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 30px;
  }
}

#w-node-b6184f5a-297f-5ad2-db45-0f31c2007e15-7c354f9c, #w-node-f3650a61-5206-1e54-8b69-876e01f30b38-7c354f9c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_080c09cb-24ed-59c7-f7e0-8cf0c98444c2-7c354f9c, #w-node-_45bfedac-6e22-8686-449c-a8dcd3fac43b-7c354f9c, #w-node-f28b9565-b9a9-0523-e3a2-37b99ebd03cb-7c354f9c, #w-node-_43ad6d2a-b561-9741-52f9-2d0ff78872a6-7c354f9c {
  place-self: center end;
}


