:root {
  --brand-primary: #00b84b;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 0;
}

li {
  background-image: url('../images/checkmarks.jpg');
  background-position: 0 5%;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-top: 20px;
  padding-left: 30px;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: inline-block;
}

.header {
  background-color: #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 4px 10px;
  display: flex;
}

.logo-box {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
}

.image {
  width: auto;
  height: 100%;
}

.image.footer-logo {
  width: 150px;
}

.section-wrap {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading {
  color: #000;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  line-height: 1.2;
}

.heading.main {
  color: var(--brand-primary);
  font-size: 48px;
  line-height: 1.2;
}

.sub-heading {
  width: 100%;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1.2;
}

.sub-heading.hero {
  font-size: 24px;
  line-height: 1.2;
}

.div-block-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.div-block-3 {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  grid-template-rows: auto;
}

.hero-image {
  object-fit: cover;
}

.heading-rich {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin-bottom: 0;
  padding-left: 0;
  line-height: 1.4em;
}

.list-item {
  background-image: url('../images/checkmarks.jpg');
  background-position: 0 7%;
  background-size: 20px 20px;
}

.btn-primary {
  background-color: var(--brand-primary);
  color: #fff;
  text-align: center;
  letter-spacing: .3px;
  border-bottom: 4px solid #008938;
  border-radius: 8px;
  width: 100%;
  margin-top: 30px;
  padding: 15px 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2em;
  text-decoration: none;
  box-shadow: 0 1px 4px 1px #00000036;
}

.btn-primary.fixed {
  margin-top: 0;
}

.text-block-20 {
  color: #fff;
  font-weight: 400;
  line-height: 1.2em;
}

.code-embed {
  justify-content: center;
  align-items: center;
  display: flex;
}

.section {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
}

.section.hero {
  padding-top: 0;
  padding-bottom: 34px;
}

.section.grey {
  background-color: #f7f7f7;
}

.container {
  max-width: 1190px;
  padding-left: 10px;
  padding-right: 10px;
}

.title-wrap {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
}

.title-wrap.hero {
  margin-top: 35px;
  margin-bottom: 30px;
}

.fb-comment-description {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.4em;
}

.fb-comment-action-buttons {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  color: #65676b;
  font-size: 12px;
  line-height: 24px;
}

.fb-comment-action-like {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-top: -20px;
  padding: 2px 4px;
  font-size: 12px;
  line-height: .8em;
}

.fb-comment {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 750px;
  max-width: 100%;
}

.fb-comment-action {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 12px;
}

.fb-account-image {
  object-fit: contain;
  border-radius: 500px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

.fb-comment-text-wrap {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  background-color: #f1f2f5;
  border-radius: 18px;
  padding: 10px 12px;
}

.fb-comment-info {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.svg-icon {
  line-height: 0%;
}

.svg-icon.fb-like {
  object-fit: contain;
  width: 18px;
}

.svg-icon.footer-logo {
  width: 260px;
}

.fb-comment-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2em;
}

.steps-description {
  margin-top: 12px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 19px;
  line-height: 26px;
}

.step-item {
  text-align: center;
  letter-spacing: .5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block-53 {
  color: #fff;
  background-color: #7fc56d;
  border-radius: 30px;
  margin-bottom: 35px;
  padding: 8px 26px 10px;
}

.h-18 {
  letter-spacing: .5px;
  font-size: 18px;
  line-height: 18px;
}

.step-video-link {
  flex: 0 auto;
}

.steps-title {
  letter-spacing: .5px;
  margin-top: 17px;
  line-height: 22px;
}

.steps-container {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  display: grid;
}

.video-container-copy {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: #000;
  text-align: center;
  background-color: #ffe22f;
  border-radius: 10px;
  width: 360px;
  max-width: 100%;
  padding: 20px 10px;
  font-weight: 800;
  display: inline-block;
  box-shadow: 0 2px 7px 1px #00000030;
}

.section-four-outer {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center;
  display: grid;
}

.content-wrapp {
  padding: 0;
}

.headline {
  margin-top: 16px;
  padding: 0;
  font-size: 30px;
  line-height: 130%;
}

.btn-banner-copy {
  margin-top: 16px;
  padding: 1px 1px 1px 2px;
}

.image-column {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.img {
  border-radius: 0;
}

.img.full-width {
  height: auto;
}

.comment-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.reviewr-info {
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 13px;
  padding: 0;
  display: flex;
}

.commentor-picture {
  border-radius: 100px;
  width: 45px;
  margin-right: 11px;
}

.customer-name {
  color: #212529;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
}

.text-block-19 {
  float: none;
  clear: none;
  color: #212529;
  width: 100%;
  margin-top: -1px;
  margin-left: 0;
  margin-right: 0;
  font-family: Montserrat, sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 28.5px;
  display: block;
}

.feedback-title-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  display: block;
}

.image-19 {
  float: left;
  clear: left;
  vertical-align: baseline;
  width: 100px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 10px;
  display: block;
}

.feedback-title {
  color: #000;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3em;
  display: block;
}

.feedback-date {
  margin-top: 7px;
  padding: 1px;
  font-size: 15px;
  line-height: 1.4em;
}

.verif-text {
  color: var(--brand-primary);
  margin-top: 7px;
  padding: 1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4em;
}

.comment-description {
  margin-top: 10px;
  padding: 0;
}

.garantee {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: 1fr;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.satisfaction-badge {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mx-600 {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.mx-600.lef {
  margin-left: 0;
}

.div-block-116 {
  margin-top: 16px;
}

.footer-bottom-info {
  font-size: 14px;
  line-height: 29px;
}

.footer-link-wrap {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  color: #fff;
  background-color: #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 47px;
  padding-bottom: 140px;
}

.footer-content-links {
  justify-content: flex-start;
  align-items: center;
}

.footer-content-wrap {
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  justify-content: center;
  align-items: center;
}

.footer-link {
  color: #fff;
  font-size: 14px;
  line-height: 29px;
  text-decoration: none;
}

.dropdown-wrap {
  width: 100%;
  margin-top: 5px;
}

.faq-box {
  width: 100%;
  margin-bottom: 20px;
}

.faq-item {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 20px 55px 20px 25px;
}

.icon {
  margin-top: auto;
  margin-bottom: auto;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.faq-heading {
  white-space: normal;
  word-break: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.dropdown-list {
  background-color: #0000;
  padding: 20px 25px;
  font-size: 16px;
  line-height: 1.5em;
  position: static;
}

.faq-para {
  margin-bottom: 0;
}

.body {
  color: #303030;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

.comment-wrap-hero {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
}

.underline {
  text-decoration: underline;
}

.title {
  color: #000;
}

.like-number {
  margin-left: 3px;
}

.icons-wrapper {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.icnons-section {
  margin-top: 24px;
}

.icon-item-box {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 8px;
}

.info-wrap {
  font-size: 16px;
  line-height: 1.4em;
}

.icon-box-description {
  font-weight: 700;
}

.icon-box-image {
  object-fit: contain;
  width: 90px;
  height: 90px;
}

.steps-bottom {
  text-align: center;
  margin-top: 36px;
}

.full-with {
  z-index: 1;
  width: 100%;
  position: relative;
}

.cta-button-fixed {
  z-index: 1000;
  opacity: 0;
  color: #fff;
  text-align: center;
  background-color: #000c;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  position: fixed;
  inset: auto 0% 0%;
  transform: translate(0, 100%);
}

.cta-button-wrap {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 750px;
}

.fixed-text {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
}

.highlit {
  color: var(--brand-primary);
}

@media screen and (max-width: 991px) {
  .grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .steps-container {
    align-items: start;
  }

  .button {
    max-width: 100%;
  }

  .section-four-outer {
    grid-template-columns: 1fr;
  }

  .headline {
    margin-top: 0;
  }

  .btn-banner-copy {
    padding-left: 1px;
  }

  .icons-wrapper {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .icon-item-box {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .section.mob-less-space {
    padding-top: 0;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .fb-comment-description {
    font-size: 14px;
    line-height: 20px;
  }

  .fb-comment-action-buttons {
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    font-size: 10px;
    line-height: 15px;
  }

  .fb-comment-action {
    padding-left: 15px;
  }

  .fb-comment-action.mig-left-space {
    padding-left: 20px;
  }

  .fb-account-image {
    border-radius: 22px;
  }

  .fb-comment-text-wrap {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .svg-icon.fb-like {
    width: 17px;
  }

  .svg-icon.footer-logo {
    width: 164px;
  }

  .fb-comment-title {
    font-size: 14px;
    line-height: 20px;
  }

  .steps-description {
    padding-left: 0;
    padding-right: 0;
  }

  .steps-title {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .steps-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .section-four-outer {
    flex-flow: column;
    display: flex;
  }

  .section-four-outer.mob-reverce {
    flex-flow: column-reverse wrap-reverse;
  }

  .image-column {
    padding-left: 0;
    padding-right: 0;
  }

  .comment-wrapper {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .comment-item {
    width: 100%;
  }

  .satisfaction-badge {
    max-width: 160px;
    position: relative;
  }

  .footer-bottom-info {
    font-size: 12px;
    line-height: 18px;
  }

  .footer {
    padding-top: 34px;
  }

  .footer-content-links {
    grid-column-gap: 1px;
    grid-row-gap: 1px;
  }

  .footer-content-wrap {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .footer-link {
    font-size: 12px;
    line-height: 18px;
  }

  .steps-bottom {
    margin-top: 0;
  }
}

@media screen and (max-width: 479px) {
  .heading, .heading.main {
    font-size: 32px;
    line-height: 1.2;
  }

  .steps-description {
    padding-left: 0;
    padding-right: 0;
  }

  .steps-container {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .button {
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    line-height: 23px;
  }

  .content-wrapp._0-padding-mob {
    padding-left: 0;
    padding-right: 0;
  }

  .headline {
    font-size: 24px;
    line-height: 33px;
  }

  .btn-banner-copy {
    margin-top: 30px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .rich-text {
    padding: 0;
  }

  .rich-text._8x {
    padding: 0 8px;
  }

  .comment-wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .text-block-19 {
    margin-left: 2px;
  }

  .feedback-title-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .image-19 {
    float: left;
    clear: left;
    display: inline-flex;
  }

  .feedback-title {
    margin-left: 2px;
  }

  .verif-text {
    margin-top: 5px;
    font-size: 17px;
    line-height: 25.5px;
  }

  .garantee {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .footer {
    background-image: none;
  }

  .faq-item {
    padding-right: 45px;
  }

  .faq-heading {
    font-size: 18px;
  }

  .dropdown-list {
    padding: 20px;
  }

  .faq-para {
    font-size: 18px;
    line-height: 25px;
  }

  .body {
    font-size: 19px;
    line-height: 1.5em;
  }

  .title {
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
  }
}

#w-node-bb742f46-07a3-ea60-f3e0-84c536b21c27-caedf163 {
  place-self: auto;
}

#w-node-_7f77b199-d67c-2f14-3739-bef406283f3f-caedf163, #w-node-_7f77b199-d67c-2f14-3739-bef406283f4a-caedf163, #w-node-_7f77b199-d67c-2f14-3739-bef406283f55-caedf163 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#video-container-6.w-node-bb742ce9-9f79-6525-078a-97eb144b78c2-caedf163, #video-container-6.w-node-_144fc179-4bf4-1c9f-470b-0562706e6de2-caedf163 {
  align-self: auto;
}

#w-node-e3d24015-72d1-ca94-58ff-3606f06ab68a-caedf163, #w-node-_23346378-b2eb-9c04-f611-73c35cd0e302-caedf163, #w-node-_116ebe55-8a3e-7523-ae1f-ad489bdddfe5-caedf163 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


