:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
}

.page-wrapper, .main-header {
  position: relative;
}

.header-top {
  background-color: #002c74;
}

.container {
  max-width: 1350px;
  padding-left: 15px;
  padding-right: 15px;
}

.container.footer-container {
  max-width: 990px;
}

.header-top-inner-container {
  padding-top: 8px;
  padding-bottom: 9px;
}

.header-top-text {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
}

.header-lower {
  padding-top: 19px;
}

.header-lower-text {
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 12px;
}

.row {
  padding: 0;
}

.product-content-column {
  margin-right: 11px;
  position: relative;
}

.product-title {
  color: #000;
  letter-spacing: .06rem;
  margin-top: 19px;
  margin-bottom: 9px;
  font-family: Poppins, sans-serif;
  font-size: 29.6px;
  line-height: 38.5px;
}

.product-image-box-text {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: -10px;
  margin-bottom: 29px;
  padding: 27px 10px 19px;
  font-size: 17.3px;
}

.image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-top: 11px;
}

.product-side-column {
  border: 1px solid #636a7b;
  width: 101%;
  margin-top: 18px;
  margin-left: -5px;
  padding: 32px 20px 22px;
  position: sticky;
  top: 40px;
}

.text {
  color: #000000bf;
  margin-bottom: 29px;
  font-size: 19.2px;
  line-height: 1.5em;
}

.text.mr-1 {
  margin-right: 10px;
}

.button-style-one {
  color: #fff;
  text-align: center;
  letter-spacing: .7px;
  background-color: green;
  border-radius: 3px;
  width: 100%;
  padding: 17px 25px;
  font-family: Poppins, sans-serif;
  font-size: 19.3px;
}

.button-style-one.style-two {
  text-align: left;
  width: 100%;
  max-width: 281px;
  margin: 0 auto;
  display: block;
}

.button-style-one.style-three {
  border-radius: 50px;
  font-weight: 800;
}

.button-style-one.style-four {
  background-color: green;
}

.product-update-box {
  background-color: #eef6f8;
  border: 2px solid red;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.update-box-text {
  color: #000000bf;
  margin-bottom: 33px;
  font-size: 20.7px;
  line-height: 1.5em;
}

.call-to-action {
  background-color: green;
  margin-top: 70px;
  margin-bottom: 30px;
  position: sticky;
  bottom: 0;
}

.cta-outer-box {
  justify-content: flex-end;
  align-items: center;
  padding: 5px 275px 5px 30px;
  display: flex;
}

.paragraph-2 {
  color: #fff;
  border-radius: 3px;
  margin-bottom: 0;
  padding-right: 10px;
  font-size: 18px;
}

.button-style-two {
  color: #bc2e3e;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  width: 383px;
  padding: 15px 10px;
  font-family: Poppins, sans-serif;
  font-size: 17.5px;
  font-weight: 700;
}

.button-style-two.style-five {
  color: #2c7ff8;
  -webkit-text-stroke-color: green;
}

.image-2 {
  width: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.paragraph-3 {
  text-align: center;
}

.heading-2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 23px;
}

.heading-3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 21px;
}

.list-item {
  color: #5f5f5f;
  background-image: url('../images/yes_100x_7be8875a-175f-4f55-9096-7a9544f74e4d_50x_1yes_100x_7be8875a-175f-4f55-9096-7a9544f74e4d_50x.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-bottom: 12px;
  padding-left: 30px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  position: relative;
}

.image-3 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bold-text {
  font-weight: 600;
}

.text-two {
  color: #000000bf;
  margin-bottom: 28px;
  font-size: 19.2px;
  line-height: 1.5em;
}

.heading-4 {
  color: #000;
  margin-top: 48px;
  margin-bottom: 15px;
  font-family: Poppins, sans-serif;
  font-size: 31.4px;
  line-height: 40px;
}

.image-4 {
  width: 100%;
  margin-bottom: 24px;
}

.heading-5 {
  color: #000;
  margin-top: 47px;
  margin-bottom: 14px;
  font-family: Poppins, sans-serif;
  font-size: 31.4px;
  line-height: 40px;
}

.heading-5.center {
  text-align: center;
  margin-bottom: 16px;
}

.image-5 {
  border-radius: 10px;
  width: 100%;
  height: 504.227px;
  margin-bottom: 25px;
}

.heading-6 {
  color: #000;
  margin-top: 47px;
  margin-bottom: 16px;
  font-family: Poppins, sans-serif;
  font-size: 31.3px;
  line-height: 40px;
}

.image-6 {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 25px;
}

.heading-7 {
  color: #000;
  margin-top: 48px;
  margin-bottom: 16px;
  font-family: Poppins, sans-serif;
  font-size: 31.4px;
  line-height: 39px;
}

.image-7 {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 25px;
}

.text-three {
  color: #000000bf;
  margin-bottom: 20px;
  font-size: 19.2px;
  line-height: 1.5em;
}

.heading-8 {
  color: #000;
  margin-top: 45px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 31.3px;
}

.image-8 {
  width: 600px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.heading-9 {
  color: #000;
  margin-top: 49px;
  margin-bottom: 15px;
  font-family: Poppins, sans-serif;
  font-size: 31.4px;
  line-height: 39px;
}

.image-9 {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 25px;
  display: block;
}

.heading-10 {
  color: #000;
  margin-bottom: 24px;
  font-family: Poppins, sans-serif;
  font-size: 23.8px;
}

.heading-10.text-center {
  text-align: center;
}

.heading-11 {
  color: #000;
  margin-bottom: 3px;
  font-family: Poppins, sans-serif;
  font-size: 23.8px;
}

.heading-12 {
  color: #000;
  margin-top: 60px;
  margin-bottom: 3px;
  font-family: Poppins, sans-serif;
  font-size: 23.8px;
}

.text-four {
  color: #000000bf;
  margin-top: 57px;
  margin-bottom: 20px;
  font-size: 19.2px;
  line-height: 1.5em;
}

.heading-13 {
  color: #000;
  margin-top: 48px;
  margin-bottom: 3px;
  padding-right: 10px;
  font-family: Poppins, sans-serif;
  font-size: 31.4px;
  line-height: 39px;
}

.paragraph-4 {
  color: #000000bf;
  font-size: 17.3px;
}

.image-10 {
  width: 100%;
  margin-top: 20px;
  display: block;
}

.image-11 {
  width: 600px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-span {
  color: red;
}

.main-footer {
  background-color: #002c74;
}

.main-footer.is-green {
  background-color: #7fc56d;
}

.footer-widgets-section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-text {
  color: #fff;
  margin-bottom: 25px;
  font-size: 16.3px;
  line-height: 1.5em;
}

.footer-text-two, .footer-text-three {
  color: #fff;
  margin-bottom: 0;
  font-size: 16.3px;
  line-height: 1.5em;
}

.discount-outer-box {
  border: 1px solid #cecaca;
  border-radius: 15px;
  align-items: center;
  width: 1000px;
  margin: 0 auto 100px;
  padding: 30px;
  display: flex;
  box-shadow: 0 0 20px -3px #00000078;
}

.discount-image-box {
  width: 376px;
}

.discount-content-box {
  text-align: center;
  width: 564px;
  margin-top: -16px;
  padding-left: 63px;
  padding-right: 14px;
}

.discount-title {
  margin-bottom: 13px;
  font-family: Poppins, sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 35px;
}

.list {
  background-color: #fef9eb;
  border-radius: 25px;
  justify-content: space-between;
  margin-top: 25px;
  padding: 5px 30px;
  display: flex;
}

.bold-text-2 {
  color: red;
}

.list-item-2 {
  color: #000000bf;
  letter-spacing: 1px;
  font-family: Poppins, sans-serif;
  font-size: 15.3px;
  display: block;
}

.list-item-2.free-delivery {
  background-image: url('../images/car-icon-1_1car icon (1).png');
  background-position: 0 -2px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 24px;
}

.paragraph-5 {
  color: #000000bf;
  margin-bottom: 2px;
  font-size: 17.3px;
  line-height: 26px;
}

.bold-text-3, .bold-text-4 {
  font-weight: 800;
}

.update-box-text-last {
  color: #000000bf;
  margin-bottom: 23px;
  font-size: 20.7px;
  line-height: 1.5em;
}

.text-five, .text-six {
  color: #000000bf;
  margin-bottom: 29px;
  font-size: 19.2px;
  line-height: 1.5em;
}

.footer-text-two-copy, .footer-text-four {
  color: #fff;
  margin-bottom: 0;
  font-size: 16.3px;
  line-height: 1.5em;
}

.button-style-three {
  color: #fff;
  text-align: center;
  letter-spacing: .06rem;
  background-color: #3aaa35;
  border-radius: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto 20px;
  padding: 15px 26px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  display: inline-block;
  box-shadow: 0 2px 5px #0003;
}

.button-style-three.style-two {
  text-align: left;
  width: 100%;
  max-width: 281px;
  margin: 0 auto;
  display: block;
}

.button-style-three.style-three {
  border-radius: 50px;
  font-weight: 800;
}

.button-box {
  text-align: center;
}

.bold-text-5 {
  -webkit-text-stroke-color: red;
}

.logo-wrapper {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: #3976f2;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px;
  display: flex;
}

.white-subtitle {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 24px;
}

.logos-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: grid;
}

.code-embed {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  overflow: hidden;
}

.code-embed-2, .code-embed-3 {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
  overflow: hidden;
}

.code-embed-4 {
  border-bottom: 1px solid #000;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
  overflow: hidden;
}

.code-embed-5 {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
  overflow: hidden;
}

.code-embed-6 {
  border-bottom: 1px solid #000;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
  overflow: hidden;
}

.div-block {
  padding-left: 48px;
  padding-right: 48px;
}

.last-pr {
  color: #000000bf;
  margin-bottom: 29px;
  font-size: 19.2px;
  line-height: 1.5em;
}

.last-pr.mr-1 {
  margin-right: 10px;
}

.code-embed-7 {
  display: flex;
  overflow: hidden;
}

.div-block-2 {
  background-color: #fef9eb;
  border-radius: 25px;
}

.list-item-3 {
  text-align: left;
  list-style-type: decimal;
  display: block;
}

.list-item-4 {
  text-align: left;
}

.text-block {
  font-family: Poppins, sans-serif;
}

.list-item-5 {
  margin-bottom: 12px;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  text-decoration: none;
}

.div-block-3 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  margin-bottom: 2rem;
  display: flex;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 680px;
  }

  .product-content-column {
    margin-right: 0;
  }

  .product-image-box-text {
    padding-top: 26px;
    line-height: 24px;
  }

  .product-side-column {
    display: none;
  }

  .text {
    font-size: 19.1px;
  }

  .call-to-action {
    margin-top: 50px;
  }

  .cta-outer-box {
    margin-right: -59px;
    padding-right: 0;
  }

  .text-two {
    font-size: 19px;
  }

  .footer-text-three {
    padding-left: 6px;
    padding-right: 6px;
  }

  .discount-outer-box {
    width: 650px;
  }

  .discount-image-box {
    width: 410px;
  }

  .discount-content-box {
    padding-left: 40px;
  }

  .text-five {
    font-size: 19px;
  }

  .text-six {
    letter-spacing: -.1px;
    font-size: 19px;
  }

  .footer-text-four {
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo-wrapper {
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .logos-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: wrap;
  }

  .last-pr {
    font-size: 19.1px;
  }
}

@media screen and (max-width: 767px) {
  .cta-outer-box {
    flex-direction: column;
    margin-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .paragraph-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .discount-outer-box {
    flex-direction: column;
    width: 100%;
  }

  .discount-content-box {
    width: 100%;
    padding-left: 14px;
  }

  .logo-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 18px;
    padding-right: 18px;
  }

  .container.cta-container {
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
  }

  .product-title {
    font-size: 24.5px;
    line-height: 32px;
  }

  .product-image-box-text {
    margin-bottom: 27px;
    padding-bottom: 15px;
    font-size: 16.3px;
  }

  .text {
    margin-bottom: 27px;
    font-size: 18px;
  }

  .text.mr-1 {
    margin-bottom: 16px;
    margin-right: 0;
  }

  .button-style-one {
    font-size: 18px;
  }

  .button-style-one.style-three {
    letter-spacing: 1.1px;
    margin-top: -2px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .button-style-one.style-four {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .update-box-text {
    font-size: 19.2px;
    line-height: 30px;
  }

  .cta-outer-box {
    margin-right: 0;
    padding: 3px 0 4px;
  }

  .paragraph-2 {
    display: none;
  }

  .button-style-two.style-five {
    letter-spacing: .2px;
    width: 100%;
    font-size: 16px;
  }

  .text-two {
    font-size: 18px;
  }

  .heading-4 {
    font-size: 26.3px;
    line-height: 33px;
  }

  .heading-5 {
    font-size: 26.5px;
    line-height: 33px;
  }

  .image-5 {
    object-fit: cover;
  }

  .heading-6 {
    margin-bottom: 15px;
    font-size: 26.5px;
    line-height: 33px;
  }

  .image-6 {
    margin-bottom: 23px;
  }

  .heading-7 {
    font-size: 26.5px;
    line-height: 33px;
  }

  .text-three {
    font-size: 18px;
  }

  .heading-8, .heading-9 {
    font-size: 26.5px;
    line-height: 33px;
  }

  .heading-10 {
    margin-bottom: 16px;
    font-size: 22.4px;
  }

  .heading-11 {
    font-size: 22.4px;
  }

  .heading-12 {
    margin-top: 55px;
    font-size: 22.4px;
  }

  .text-four {
    margin-top: 55px;
    font-size: 18px;
  }

  .heading-13 {
    font-size: 26.5px;
    line-height: 33px;
  }

  .paragraph-4 {
    font-size: 16.3px;
  }

  .image-10 {
    margin-top: 15px;
  }

  .footer-text {
    margin-bottom: 23px;
    font-size: 15.3px;
  }

  .footer-text-two {
    font-size: 15.3px;
  }

  .footer-text-three {
    padding-left: 0;
    padding-right: 0;
    font-size: 15.3px;
  }

  .discount-outer-box {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 80px;
    padding-bottom: 20px;
  }

  .discount-image-box {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .discount-content-box {
    width: 100%;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .discount-title {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21.5px;
    line-height: 32px;
  }

  .list {
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .list-item-2 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .list-item-2.free-delivery {
    background-size: 19px;
    justify-content: flex-start;
    align-self: center;
    align-items: flex-start;
    margin-top: 5px;
    display: block;
  }

  .paragraph-5 {
    font-size: 16px;
    line-height: 24px;
  }

  .update-box-text-last {
    font-size: 19.4px;
  }

  .text-five {
    margin-bottom: 27px;
    font-size: 18px;
  }

  .text-six {
    padding-right: 5px;
    font-size: 18px;
  }

  .footer-text-four {
    font-size: 15.3px;
  }

  .testimonial-section {
    width: 100%;
    overflow: hidden;
  }

  .button-style-three {
    font-size: 18px;
  }

  .button-style-three.style-four {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .html-embed {
    width: 100%;
  }

  .br-sm {
    display: block;
  }

  .logo-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .logos-grid {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 1fr 1fr;
  }

  .brands-logos-copy {
    max-width: 80%;
  }

  .code-embed {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }

  .code-embed-2 {
    justify-content: center;
    align-items: flex-start;
  }

  .last-pr {
    margin-bottom: 16px;
    font-size: 18px;
  }

  .last-pr.mr-1 {
    margin-right: 0;
  }

  .div-block-3 {
    overflow: clip;
  }

  .list-2 {
    padding-left: 20px;
  }
}

#w-node-e7412561-b8e7-be83-b9d2-208a52998f88-5ae00905 {
  grid-template-rows: auto;
  grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 991px) {
  #w-node-e7412561-b8e7-be83-b9d2-208a52998f88-5ae00905 {
    grid-template-rows: auto;
    grid-template-columns: 3fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f6cb6990-e866-77ac-a225-caad5cd141ae-5ae00905 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }
}


